@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --bg: #078883;
    --text: #fff;
    --btnBr: #010f21;
    --gradFr: #010f21;
    --gradSc: #6c92f4;
    --timer: #132347;
}

.window {
    height: auto;
    width: 100%;
    max-width: 320px;
    z-index: 101;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    color: var(--text);
    background: var(--bg);
    border-radius: 12px;
    text-align: center;
    font-family: Inter;
    padding: 20px 15px;
    box-sizing: border-box;
}

.window__title {
    font-family: inherit;
    font-size: 28px;
    margin: 0 0 20px;
    text-align: left;
    font-weight: 700;
}

.window__text {
    font-size: 16px;
    margin: 0 0 20px;
    text-align: left;
}

.window__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    padding-bottom: 0;

}

.window__content img{
    width: 110px;
    height: 110px;
    margin-right: 10px;
}
.window__content p {
    padding: 0 0 10px 0;
    margin: 0;
    text-align: left;
    font-size: 14px;
    font-weight: 600;

}

.window__btn {
    width: 100%;
    height: 47px;
    vertical-align: middle;
    font-family: inherit;
    background: transparent;
    text-transform: uppercase;
    font-weight: 700;
    font-weight: 500;
    border-radius: 6px;
    font-size: 14px;
    line-height: 45px;
    border: none;
    display: block;
    text-decoration: none;
    color: var(--text);
}

.window__btn.cancel {
    width: 30%;
    border: 1px solid var(--btnBr);
    margin-right: 20px;
}

.window__btn.update {
    width: 50%;
    background: linear-gradient(270deg,var(--gradFr) 0,var(--gradSc) 100%);
    box-shadow: 0 2px 4px rgba(38,50,56,.08), 0 4px 6px rgba(38,50,56,.08);
    line-height: 47px;
}


.window-btn__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 11px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.window__btn:hover {
    cursor: pointer;
}

.window-timer {
    color: var(--timer);
    font-weight: 600;
    margin: 30px 0;
}

#min {
    width: 11px;
    display: inline-block;
}
#sec {
    width: 22px;
    display: inline-block;
}
